@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    src:url("OpenSans-Regular.ttf");
}


body {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    color: #3e4349;
    line-height: 1.6em;
}
h1,
h2,
h3 {
    font-weight: normal;
}
article > h1:not(:first-child):before {
    display: block;
    margin: 1em 0;
    content: "~";
    text-align: center;
    font-size: 300%;
}
h2 {
    margin-top: 2em;
    padding-left: 0.5em;
    border-left: 1em #e6e6e6 solid;
    font-size: 1.2em;
}
h3 {
    font-size: 1.1em;
}
a {
    color: #004b6b;
}
em {
    font-weight: bold;
}
@media screen and (min-width: 971px) {
    header,
    body > section,
    footer p{
        margin: 0 auto;
        width: 955px;
    }
}
@media screen and (max-width: 970px) {
    body {
        font-size: 16px;
    }
    header,
    body > section,
        footer{
        width: auto;
        padding: 0 1em;
    }
}
header h1 {
    margin: 0 0 1em 0;
    padding-top: 0.5em;
    text-shadow: #ccc 0px 1px;
}
header > h1 > a {
    text-decoration: none;
    color: inherit;
}
body > section > h1,
article > h1 {
    font-size: 1.3em;
    padding: 0 0 0.3em 0;
    border-bottom: 1px #ddd solid;
}
body > nav {
    position: fixed;
    bottom: 2em;
    right: 2em;
    opacity: 0.8;
}
body > nav > a {
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.5em;
}
.date,
.tags {
    display: inline;
}
.tags {
    padding : 0;
}
.tags > li {
    display: inline;
}
.tags > li:before {
    content: "#";
}
.alert {
    border: #f00 1px solid;
    color: #f00;
    padding: 1em;
}
code, pre {
    display: block;
    padding: 0.5em 1em;
    overflow-wrap: normal;
    line-height: 1.5em;
    white-space: pre;
    color: #fff;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background: #000;
}
pre {
    overflow-x: auto;
}
img {
    max-width: 100%;
}

#disqus_thread {
    margin-top: 2em;
}
footer {
    padding-bottom: 1em;
}
@media screen and (max-width: 1000px) {
    footer img {
        opacity: 0.4;
    }
}
